name: audit

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Verify deps
        run: go mod verify

      - name: Build
        run: go build -v ./...

      - name: Archive Production Artifact
        uses: actions/upload-artifact@master
        with:
          name: klask-backend
          path: klask-backend

  vet:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@master
        with:
          name: klask-backend
          path: klask-backend
      - name: Run go vet
        run: go vet ./...

  test:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@master
        with:
          name: klask-backend
          path: klask-backend
      - name: Run go test
        run: go test -race -vet=off github.com/JohnVicke/klask-backend/...

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest

  deploy:
    needs: [build, vet, test, lint]
    name: deploy
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
      - name: "echo"
        shell: bash
        run: |
          echo ${GITHUB_WORKSPACE}
