name: Audit

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Verify deps
        run: go mod verify

      - name: Build
        run: go build -v ./...

      - name: Run go vet
        run: go vet ./...

      - name: Install staticcheck
        run: go install honnef.co/go/tools/cmd/staticcheck@latest

      - name: Run staticcheck
        run: staticcheck ./...

      - name: Lint using golangci-lint
        uses: golangci/golangci-lint-action@v3
        run: golint ./...

      - name: Run tests
        run: go test -race vet=off ./...
